<!-- <h1>Wellcome...</h1>

<form
  class="container w-50"
  #formValues="ngForm"
  (ngSubmit)="submitData(formValues.value)"
>
  <div>
    <label for="name" class="form-label">Name :</label>
    <input type="text" class="form-control" name="name" ngModel />
  </div>
  <div>
    <label for="name" class="form-label">Email :</label>
    <input type="email" class="form-control" name="email" ngModel />
  </div>
  <div>
    <label for="gender">Gender :</label>
    <input type="radio" id="male" value="male" name="gender" ngModel />
    <label for="male" class="form-check-label">Male</label>
    <input type="radio" id="female" value="female" name="gender" ngModel />
    <label for="female" class="form-check-label">Female</label>
  </div>
  <div class="form-check">
    <label for="married" class="form-check-label">Married </label>
    <input
      type="checkbox"
      class="form-check-input"
      id="married"
      value="married"
      name="married"
      ngModel
    />
  </div>
  <div class="dropdown">
    <label for="country">Country :</label>
    <select name="country" ngModel>
      <option class="dropdown-item" value="India">India</option>
      <option class="dropdown-item" value="Dubai">Dubai</option>
      <option class="dropdown-item" value="Japan" selected>Japan</option>
    </select>
  </div>
  <div>
    <label for="city" class="form-label">City :</label>
    <input type="text" class="form-control" name="city" ngModel />
    <label for="street" class="form-label">Street :</label>
    <input type="text" class="form-control" name="street" ngModel />
    <label for="pincode" class="form-label">Pincode :</label>
    <input type="text" class="form-control" name="pincode" ngModel />
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form> -->

<app-user></app-user>
